<table class="table table-borderless">
    <thead>
        <tr>
          <th class="text-left">Instance type</th>
          <th>On demand hours</th>
          <th>Reserved hours</th>
          <th>Total hours</th>
          <th>Coverage</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-left">color</td>
        <td>EC2</td>
        <td>$200.59</td>
        <td>EC2</td>
        <td>$200.59</td>
      </tr>
      <tr>
        <td class="text-left">color</td>
        <td>EC2</td>
        <td>$200.59</td>
        <td>EC2</td>
        <td>$200.59</td>
      </tr>
      <tr>
        <td class="text-left">color</td>
        <td>EC2</td>
        <td>$200.59</td>
        <td>EC2</td>
        <td>$200.59</td>
      </tr>
      <tr>
        <td class="text-left">color</td>
        <td>EC2</td>
        <td>$200.59</td>
        <td>EC2</td>
        <td>$200.59</td>
      </tr>
      <tr>
        <td class="text-left">colod</td>
        <td>EC2</td>
        <td>$200.59</td>
        <td>EC2</td>
        <td>$200.59</td>
      </tr>
    </tbody>
  </table>
  