<table class="table table-borderless table-striped">
  <tbody>
    <tr>
      <td><button type="button" class="btn p-2 rounded-0" style="background-color: #4a9ad4;"></button></td>
      <td class="col-md-1">EC2</td>
      <td>{{ Services[0].currencyUnit }}{{ Services[0].EC2 }}</td>
    </tr>
    <tr>
      <td><button type="button" class="btn p-2 rounded-0" style="background-color: #7b9d45;"></button></td>
      <td>EFS</td>
      <td>{{ Services[0].currencyUnit }}{{ Services[0].EFS }}</td>
    </tr>
    <tr>
      <td><button type="button" class="btn p-2 rounded-0" style="background-color: #c24432;"></button></td>
      <td>OTHER</td>
      <td>{{ Services[0].currencyUnit }}{{ Services[0].OTHER }}</td>
    </tr>
    <tr>
      <td><button type="button" class="btn p-2 rounded-0" style="background-color: #ff8739;"></button></td>
      <td>S3</td>
      <td>{{ Services[0].currencyUnit }}{{ Services[0].S3 }}</td>
    </tr>
    <tr>
      <td><button type="button" class="btn p-2 rounded-0" style="background-color: #e4a02e;"></button></td>
      <td>SUPPORT</td>
      <td>{{ Services[0].currencyUnit }}{{ Services[0].SUPPORT }}</td>
    </tr>
    <tr>
      <td></td>
      <td>TOTAL</td>
      <td>{{ Services[0].currencyUnit }}{{ Services[0].TOTAL }}</td>
    </tr>
  </tbody>
</table>
