<table class="table table-borderless">
  <tbody>
    <tr>
      <td><button type="button" class="btn btn-primary p-2 rounded-0"></button></td>
      <td class="col-md-1">EC2</td>
      <td>$200.59</td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-primary p-2 rounded-0"></button></td>
      <td>EC2</td>
      <td>$200.59</td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-primary p-2 rounded-0"></button></td>
      <td>EC2</td>
      <td>$200.59</td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-primary p-2 rounded-0"></button></td>
      <td>EC2</td>
      <td>$200.59</td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-primary p-2 rounded-0"></button></td>
      <td>EC2</td>
      <td>$200.59</td>
    </tr>
  </tbody>
</table>
