<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class="table table-borderless"> 
    <tbody>
      <tr>
        <th style="font-weight: 500;">INSTANCE TYPE</th>
        <th style="font-weight: 500;">On demand hours</th>
        <th style="font-weight: 500;">Reserved hours</th>
        <th style="font-weight: 500;">Total hours</th>
        <th style="font-weight: 500;">Coverage</th>
      </tr>
      <tr *ngFor="let reservation of Reservation">
        <td>{{ reservation.instanceType }}</td>
        <td>{{ reservation.onDemandHours }}</td>
        <td>{{ reservation.reservedHous }}</td>
        <td>{{ reservation.totalHours }}</td>
        <td>{{ reservation.coverage }}</td>
      </tr>
    </tbody>
  </table>
</div>