<div class="row">
    <div class="col-sm-3">
      <p class="font-weight-bold">$2030.59</p>
      <p class="costing-text">MONTH TO DATE</p>
    </div>
    <div class="col-sm-3">
      <p class="font-weight-bold">$2030.59</p>
      <p class="costing-text">ESTIMATED SPEND</p>
    </div>
    <div class="col-sm-3">
      <p class="font-weight-bold">$2030.59</p>
      <p class="costing-text">LAST MONTH</p>
    </div>
    <div class="col-sm-3">
      <p class="font-weight-bold" style="color:brown">$2030.59</p>
      <p class="costing-text">CHANGE FROM LAST MONTH</p>
    </div>
</div>